<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <script data-main="/javascripts/main.js" src="/bower_components/requirejs/require.js"></script>

  <link rel='stylesheet' href='/bower_components/spectre.css/dist/spectre.min.css' />
  <link rel='stylesheet' href='/bower_components/jasmine-core/lib/jasmine-core/jasmine.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
{{{body}}}
</body>
</html>