<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <script src="/bower_components/mocha/mocha.js"></script>
  <script src="/bower_components/chai/chai.js"></script>
  <script src="/bower_components/sinon/lib/sinon.js"></script>
  <link rel='stylesheet' href='/bower_components/mocha/mocha.css' />
  <link rel='stylesheet' href='/bower_components/spectre.css/dist/spectre.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
{{{body}}}
</body>
</html>